* text=auto !eol
js/aes.js -text
js/cryptoHelpers.js -text
js/jsHash.js -text
python/aes.py -text
tests/README -text
tests/compare_pj.py -text
tests/pyutil.py -text
tests/smoketest_js.py -text
tests/smoketest_py.py -text
tests/smutil.py -text
