* text=auto !eol
js/aes.js -text
js/cryptoHelpers.js -text
js/jsHash.js -text
php/aes_fast.php -text
php/aes_small.php -text
php/cryptoHelpers.php -text
python/aes.py -text
ruby/COPYING -text
ruby/README.markdown -text
ruby/Rakefile -text
ruby/doc/rdoc/classes/Aes.html -text
ruby/doc/rdoc/classes/AesShared.html -text
ruby/doc/rdoc/created.rid -text
ruby/doc/rdoc/files/CHANGELOG.html -text
ruby/doc/rdoc/files/COPYING.html -text
ruby/doc/rdoc/files/README.html -text
ruby/doc/rdoc/files/lib/ruby-aes/aes_shared_rb.html -text
ruby/doc/rdoc/files/lib/ruby-aes_rb.html -text
ruby/doc/rdoc/fr_class_index.html -text
ruby/doc/rdoc/fr_file_index.html -text
ruby/doc/rdoc/fr_method_index.html -text
ruby/doc/rdoc/index.html -text
ruby/doc/rdoc/rdoc-style.css -text
ruby/examples/encrypt_block.rb -text
ruby/examples/encrypt_buffer.rb -text
ruby/examples/encrypt_stream.rb -text
ruby/examples/example_helper.rb -text
ruby/examples/openssl_example.rb -text
ruby/lib/ruby-aes.rb -text
ruby/lib/ruby-aes/aes_alg.rb -text
ruby/lib/ruby-aes/aes_cons.rb -text
ruby/lib/ruby-aes/aes_shared.rb -text
ruby/test/KAT_MCT/aes_kat_mct.rb -text
ruby/test/KAT_MCT/rijndael-vals.zip -text
ruby/test/KAT_MCT/table.128 -text
ruby/test/KAT_MCT/table.192 -text
ruby/test/KAT_MCT/table.256 -text
ruby/test/test_helper.rb -text
ruby/test/test_ruby-aes.rb -text
tests/README -text
tests/compare_pj.py -text
tests/pyutil.py -text
tests/smoketest_js.py -text
tests/smoketest_py.py -text
tests/smutil.py -text
